# Astro/Airflow
logs/
plugins/__pycache__
include/
.env
.env.prod
.env.original
.astro
.DS_Store
docker-compose.override.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# Docker
.docker

# Build and distribution
build/
dist/
*.egg-info/
*.egg

# Testing and coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
htmlcov/

# Environments
.venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Database
*.sqlite3
*.sqlite3-journal

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
